/* =========== */
/* = General = */
/* =========== */

html {
  background: #384146;
}

body {
  color: #444444;
  background: #ffffff;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 50%;
}

h1 {
  font-size: 3rem;
  font-weight: 200;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

.hidden {
	display: none;
}

.sliderdemoBasicUsage input[type="number"] {
  text-align: center;
  padding-left: 10px; 
}

input:focus:not([type]):not([readonly]), input[type="text"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="date"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="search"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #000000;
  box-shadow: 0 1px 0 0 #000000;
}

.dropdown-content li > a, 
.dropdown-content li > span {
  color: #168ABC;
}

[type="checkbox"]:checked + label::before {
  border-color: transparent #168ABC #168ABC transparent;
}

body,
.section {
  width: 100%;
  float: left;
}

.row .col,
.section h2,
.column .inner {
  padding: 0;
}

.container .row {
  margin: 0;
}



/*input[type='range'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    cursor: pointer;
    display: block;
    height: 100%;
    overflow: hidden;
    width: 45px;

    &:focus {
        box-shadow: none;
        outline: none;
    }

    &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        background: #666;
        height: 3px;
    }

    &::-webkit-slider-thumb:before {
        position: absolute;
        top: 0;
        right: 50%;
        left: -200px;
        background: #e00;
        content: '';
        height: 3px;
        pointer-events: none; //Update after comment of @Rich Smith
    }


    &::-webkit-slider-thumb {
	    background:#168ABC;
	    height:12px;
	    width:12px;
    }

    &::-moz-range-track {
        width: 45px;
    }

    &::-moz-range-thumb {
        width: 3px;
        height: 3px;
				background:yellow;

        -moz-appearance: none;
        background: transparent;
        border: 0;
        border-radius: 0;
        box-shadow: 0;
        position: relative;
    }

    &::-moz-range-progress {
        background: #e00;
    }

    &::-ms-track {
        background: transparent;
        border: 0;
        border-color: transparent;
        border-radius: 0;
        border-width: 0;
        color: transparent;
        height: 3px;
        width: 45px;
    }

    &::-ms-fill-lower {
        background: #e00;
        border-radius: 0;
    }

    &::-ms-fill-upper {
        background: #666;
        border-radius: 0;
    }

    &::-ms-thumb {
        width: 0;
        height: 0;
        background: transparent;
    }

    &::-ms-tooltip {
        display: none;
    }
}
*/
/* ============== */
/* = Main Title = */
/* ============== */

.title-wrapper {
  background: #384146;
}

.main-title {
  color: #444444;
  text-align: center;
}

.main-title h1 {
  color: #fff;
  padding: 10px 0;
}

/* ================= */
/* = Pager Section = */
/* ================= */

.pager-wrapper {
  background: #168ABC;
}

.pager span {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  color: #ffffff;
  margin: 0 10px;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: bold;
}

.pager span.active {
  color: #C4D32D;
  border-bottom: 4px solid #C4D32D;
}

.pager .inner {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* ====================== */
/* = Info / Section One = */
/* ====================== */

.section {
  padding: 0 30px;
}

.section-title {
  margin: 20px 0;
}

.section .form-field input {
  color: #000000;
  font-size: 1.8rem;
}

#section-one .button-wrapper {
  margin-top: 40px;
}

/* =========== */
/* = Buttons = */
/* =========== */

.button-wrapper {
  margin-top: 15px;
}

.waves-effect.waves-light.btn-large {
  color: #ffffff;
  background: #1c75bc;
  font-weight: 400;
  width: auto;
  text-shadow: none;
}

.waves-effect.waves-light.btn-large:hover {
  background: #4CA0E0;
}

/* ========================== */
/* = Questions / Section Two= */
/* ========================== */

span.thumb.active {
  display: none;
}

#section-two .ui-content {
  padding: 0;
  margin-top: 40px;
}

.button-wrapper {
  margin-left: 0;
  margin-right: 0;
}

input[type="range"],
input[type="range"]:hover,
input[type="range"]:active,
input[type="range"]:focus,
input[type=range]::-moz-focus-outer {
  border: 0 !important;  
  outline: none !important;
}

input[type='range'],
input[type='range']:active,
input[type='range']:focus {
  -webkit-appearance: none;
  border-radius: 5px;
  /* box-shadow: inset 0 0 5px #333; */
  background-color: #999;
  height: 5px;
  vertical-align: middle;
}

input[type='range']::-moz-range-track {
  -moz-appearance: none;
  border-radius: 5px;
  /* box-shadow: inset 0 0 5px #333;*/
  background-color: #999;
  height: 5px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  border-radius: 20px;
  background-color: #168ABC;
  /* box-shadow:inset 0 0 10px rgba(000,000,000,0.5); */
  border: 1px solid #168ABC;
  height: 15px;
  width: 15px;
}

input[type='range']::-moz-range-thumb {
  -moz-appearance: none;
  border-radius: 20px;
  background-color: #168ABC;
  /* box-shadow:inset 0 0 10px rgba(000,000,000,0.5); */
  border: 1px solid #999;
  height: 15px;
  width: 15px;
}

.assessment-question input {
  margin-bottom: 0;
}

.assessment-question {
  width: 100%;
  float: left;
  margin-bottom: 40px;
  padding-bottom: 40px;
  padding-left: 5px;
  padding-right: 5px;
}

.assessment-question .numbers {
  width: 99%;
  float: none;
  margin: auto;
  margin-top: 15px;
}

.assessment-question .numbers span {
  float: left;
}

.assessment-question .numbers span img {
  width: 1.5em;
  height: 1.5em;
}

.assessment-question .numbers span.one {
  width: 12.5%;
  text-align: left;
}

.assessment-question .numbers span.two {
  width: 25%;
  text-align: center;
}

.assessment-question .numbers span.three {
  width: 25%;
  text-align: center;
}

.assessment-question .numbers span.four {
  width: 25%;
  text-align: center;
}

.assessment-question .numbers span.five {
  width: 12.5%;
  text-align: right;
}

.tool-tip a i {
  color: #000;
  margin-left: 5px;
}

.tool-tip a i:hover {
  cursor: pointer;
}

/* =========================== */
/* = Results / Section Three = */
/* =========================== */

#section-three .input-field {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  float: left;
}

#section-three .input-field label {
  left: 0;
}

#section-three .button-wrapper {
  margin-top: 40px;
}

/* ========== */
/* = Footer = */
/* ========== */

#footer {
  color: #ffffff;
  background: #384146;
  height: 100px;
  margin-top: 50px;
  width: 100%;
  float: left;
}

#footer .inner {
  padding: 10px 30px;
}

/* ================= */
/* = Media Queries = */
/* ================= */

/* = Design For 601px and above = */
@media only screen and (min-width : 601px) {

  .column {
    width: 50%;
  }
  
  .row .col,
  .section h2,
  .column .inner {
    padding: 0 20px;
  }
  
  #footer .inner {
    padding: 10px 50px;
  }
  
  #section-two .ui-content {
    padding: 0 20px;
  }
  
  #section-two .button-wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
  
}


/* = Design For 993px and above = */
@media only screen and (min-width : 993px) {
  


}