@import url("https://fonts.googleapis.com/icon?family=Material+Icons") screen,projection;
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css") screen,projection;


/* ============== */
/* = @Font Face = */
/* ============== */

@font-face {
  font-family: 'GillSansMTRegular';
  src: url('http://cdn2.hubspot.net/hub/481308/file-2428703780-eot/Fonts/gillsansmt.eot');
  src: url('http://cdn2.hubspot.net/hub/481308/file-2428703780-eot/Fonts/gillsansmt.eot') format('embedded-opentype'),
  url('http://cdn2.hubspot.net/hub/481308/file-2428713795-woff2/Fonts/gillsansmt.woff2') format('woff2'),
  url('http://cdn2.hubspot.net/hub/481308/file-2424024893-woff/Fonts/gillsansmt.woff') format('woff'),
  url('http://cdn2.hubspot.net/hub/481308/file-2426535301-ttf/Fonts/gillsansmt.ttf') format('truetype'),
  url('http://cdn2.hubspot.net/hub/481308/file-2428713840-svg/Fonts/gillsansmt.svg') format('svg');
}
@font-face {
  font-family: 'AbadiMTCondensedExtraBoldRegular';
  src: url('http://cdn2.hubspot.net/hub/481308/file-2426535311-eot/Fonts/abadimtcondensedextraboldregular.eot');
  src: url('http://cdn2.hubspot.net/hub/481308/file-2426535311-eot/Fonts/abadimtcondensedextraboldregular.eot') format('embedded-opentype'),
  url('http://cdn2.hubspot.net/hub/481308/file-2428703775-woff2/Fonts/abadimtcondensedextraboldregular.woff2') format('woff2'),
  url('http://cdn2.hubspot.net/hub/481308/file-2426535306-woff/Fonts/abadimtcondensedextraboldregular.woff') format('woff'),
  url('http://cdn2.hubspot.net/hub/481308/file-2426535316-ttf/Fonts/abadimtcondensedextraboldregular.ttf') format('truetype'),
  url('http://cdn2.hubspot.net/hub/481308/file-2428713790-svg/Fonts/abadimtcondensedextraboldregular.svg') format('svg');
}


/* =========== */
/* = General = */
/* =========== */

html {
  background: #384146;
}

body {
  color: #444444;
  background: #ffffff;
  font-weight: 400;
  font-family: 'GillSansMTRegular';
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 50%;
  font-family: 'AbadiMTCondensedExtraBoldRegular';text-transform:uppercase;
}

h1 {
  font-size: 3rem;
  font-weight: 200;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

h3 {
  font-size: 18px;
}

.sliderdemoBasicUsage input[type="number"] {
  text-align: center;
  padding-left: 10px; 
}

input:focus:not([type]):not([readonly]), input[type="text"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="date"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="search"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #000000;
  box-shadow: 0 1px 0 0 #000000;
}

.dropdown-content li > a, 
.dropdown-content li > span {
  color: #168ABC;
}

[type="checkbox"]:checked + label::before {
  border-color: transparent #168ABC #168ABC transparent;
}

body,
.section {
  width: 100%;
  float: left;
}

.row .col,
.section h2,
.column .inner {
  padding: 0;
}

.container .row {
  margin: 0;
}

.assessment-image img {max-width:75%;}
.section-text {font-size:1.25rem;}

#attribution-line {
    font-size: .9rem;
    padding-bottom: 20px;
    padding-top: 20px;
}

/* ============== */
/* = Main Title = */
/* ============== */

.title-wrapper {
  background: #384146;
}

.main-title {
  color: #444444;
  text-align: center;
}

.main-title h1 {
  color: #fff;
  padding: 10px 0;
}

/* ================= */
/* = Pager Section = */
/* ================= */

.pager-wrapper {
  background: #168ABC;
}

.pager span {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  color: #ffffff;
  margin: 0 10px;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: bold;
}

.pager span.active {
  color: #C4D32D;
  border-bottom: 4px solid #C4D32D;
}

.pager .inner {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* ====================== */
/* = Info / Section One = */
/* ====================== */

.section {
  padding: 0 30px;
}

.section-title {
  margin: 20px 0;
}

.section .form-field input {
  color: #000000;
  font-size: 1.1rem;
}

#section-one .button-wrapper {
  margin-top: 40px;
}

/* =========== */
/* = Buttons = */
/* =========== */

.button-wrapper {
  margin-top: 15px;
}

.waves-effect.waves-light.btn-large {
  color: #ffffff;
  background: #1c75bc;
  font-weight: 400;
  width: auto;
  text-shadow: none;
}

.waves-effect.waves-light.btn-large:hover {
  background: #4CA0E0;
}

/* ========================== */
/* = Questions / Section Two= */
/* ========================== */

.assessment-question {
  font-size: 12px;
}

.assessment-question p {
  font-size: 16px;
}

span.thumb.active {
  display: none;
}

#section-two .ui-content {
  padding: 0;
  margin-top: 40px;
}

.button-wrapper {
  margin-left: 0;
  margin-right: 0;
}

input[type="range"],
input[type="range"]:hover,
input[type="range"]:active,
input[type="range"]:focus,
input[type=range]::-moz-focus-outer {
  border: 0 !important;  
  outline: none !important;
}

input[type='range'],
input[type='range']:focus,
input[type='range']:active {
  -webkit-appearance: none;
  border-radius: 5px;
  /* box-shadow: inset 0 0 5px #333; */
  background-color: #999;
  height: 5px;
  vertical-align: middle;
}

input[type='range']::-moz-range-track,
input[type='range']:focus::-moz-range-track,
input[type='range']:active::-moz-range-track {
  -moz-appearance: none;
  border-radius: 5px;
  /* box-shadow: inset 0 0 5px #333;*/
  background-color: #999;
  height: 5px;
}

input[type='range']::-webkit-slider-thumb,
input[type='range']:focus::-webkit-slider-thumb,
input[type='range']:active::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  border-radius: 20px;
  background-color: #168ABC;
  /* box-shadow:inset 0 0 10px rgba(000,000,000,0.5); */
  border: 1px solid #168ABC;
  height: 15px;
  width: 15px;
}

input[type='range']::-moz-range-thumb,
input[type='range']:focus::-moz-range-thumb,
input[type='range']:active::-moz-range-thumb {
  -moz-appearance: none;
  border-radius: 20px;
  background-color: #168ABC;
  /* box-shadow:inset 0 0 10px rgba(000,000,000,0.5); */
  border: 1px solid #999;
  height: 15px;
  width: 15px;
}

.assessment-question input {
  margin-bottom: 0;
}

.assessment-question {
  width: 100%;
  float: left;
  margin-bottom: 40px;
  padding-bottom: 40px;
  padding-left: 5px;
  padding-right: 5px;
}

.assessment-question .numbers {
  width: 99%;
  float: none;
  margin: auto;
  margin-top: 15px;
}

.assessment-question .numbers span {
  float: left;
}

.assessment-question .numbers span img {
  width: 2em;
  height: 2em;
}

.assessment-question .numbers span.one {
  width: 12.5%;
  text-align: left;
}

.assessment-question .numbers span.two {
  width: 25%;
  text-align: center;
}

.assessment-question .numbers span.three {
  width: 25%;
  text-align: center;
}

.assessment-question .numbers span.four {
  width: 25%;
  text-align: center;
}

.assessment-question .numbers span.five {
  width: 12.5%;
  text-align: right;
}

.tool-tip i {
  color: #000;
  margin-left: 5px;
}

.tool-tip i:hover {
  cursor: pointer;
}

.tool-tip span.visible {
  width: 225px;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  height: auto;
  display: block;
  margin-top: 10px;
  padding: 10px;
  position: absolute;
  z-index: 500;
  -webkit-transition: all 0.2s ease-in-out; 
  -moz-transition: all 0.2s ease-in-out; 
  -o-transition: all 0.2s ease-in-out; 
  transition: all 0.2s ease-in-out;
}

.tool-tip span.hidden {
  width: 225px;
  overflow: hidden;
  padding: 0 10px;
  height: 0px;
  background: #fff;
  box-shadow: 3px 3px 3px #fff;
  color: #fff;
  display: block;
  margin-top: 10px;
  position: absolute;
  z-index: 500;
  -webkit-transition: all 0.2s ease-in-out; 
  -moz-transition: all 0.2s ease-in-out; 
  -o-transition: all 0.2s ease-in-out; 
  transition: all 0.2s ease-in-out;
}

.form-required {
  color: #aa0000;
  font-size: 0.8rem;
  margin-left: 5px;
}
span.label {
  text-transform:uppercase;
  font-family: 'AbadiMTCondensedExtraBoldRegular';
  font-size:.8rem;
  color:#666;
}

.numbers .one .icon,
.numbers .two .icon,
.numbers .three .icon,
.numbers .four .icon,
.numbers .five .icon {
  width:25px;
  height:25px;
  overflow:hidden;
  position:relative;
  left:45%;
}
.numbers .one .icon{background:url("http://cdn2.hubspot.net/hubfs/481308/2016-Page-Images/assessment/face-1.png") no-repeat 0 0;left:-6px;}
.numbers .two .icon{background:url("http://cdn2.hubspot.net/hubfs/481308/2016-Page-Images/assessment/face-2.png") no-repeat 0 0;}
.numbers .three .icon{background:url("http://cdn2.hubspot.net/hubfs/481308/2016-Page-Images/assessment/face-3.png") no-repeat 0 0;}
.numbers .four .icon{background:url("http://cdn2.hubspot.net/hubfs/481308/2016-Page-Images/assessment/face-4.png") no-repeat 0 0;}
.numbers .five .icon{background:url("http://cdn2.hubspot.net/hubfs/481308/2016-Page-Images/assessment/face-5.png") no-repeat 0 0;left:87%;}


/* change to A */
.assessment-question-2 .numbers .one .icon,
.assessment-question-4 .numbers .one .icon,
.assessment-question-11 .numbers .one .icon {background-image:url("http://cdn2.hubspot.net/hubfs/481308/2016-Page-Images/assessment/letter-a.png");}

/* change to B */
.assessment-question-2 .numbers .two .icon,
.assessment-question-4 .numbers .two .icon,
.assessment-question-11 .numbers .two .icon {background-image:url("http://cdn2.hubspot.net/hubfs/481308/2016-Page-Images/assessment/letter-b.png");}

/* change to C */
.assessment-question-2 .numbers .three .icon,
.assessment-question-4 .numbers .three .icon,
.assessment-question-11 .numbers .three .icon {background-image:url("http://cdn2.hubspot.net/hubfs/481308/2016-Page-Images/assessment/letter-c.png");}

/* change to D */
.assessment-question-2 .numbers .four .icon,
.assessment-question-4 .numbers .four .icon,
.assessment-question-11 .numbers .four .icon {background-image:url("http://cdn2.hubspot.net/hubfs/481308/2016-Page-Images/assessment/letter-d.png");}

/* change to E */
.assessment-question-2 .numbers .five .icon,
.assessment-question-4 .numbers .five .icon,
.assessment-question-11 .numbers .five .icon {background-image:url("http://cdn2.hubspot.net/hubfs/481308/2016-Page-Images/assessment/letter-e.png");}

.section-title i {position:relative;top:4px;}
/* =========================== */
/* = Results / Section Three = */
/* =========================== */

#section-three .input-field {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  float: left;
}

#section-three .input-field label {
  left: 0;
}


#section-three .button-wrapper {
  margin-top: 40px;
}

.the-image {
  height:225px;
  width:325px;
  margin:auto;
  max-width:100%;
}
.image-start .the-image {background:url("http://cdn2.hubspot.net/hubfs/481308/2016-Page-Images/assessment/get-started.png") no-repeat 0 0;}
.image-one .the-image,
.image-two .the-image,
.image-three .the-image,
.image-four .the-image,
.image-five .the-image {background:url("http://cdn2.hubspot.net/hubfs/481308/2016-Page-Images/assessment/fail.png") no-repeat 0 0;}
.image-six .the-image, 
.image-seven .the-image {background:url("http://cdn2.hubspot.net/hubfs/481308/2016-Page-Images/assessment/almost-bad.png") no-repeat 0 0;}
.image-eight .the-image {background:url("http://cdn2.hubspot.net/hubfs/481308/2016-Page-Images/assessment/okay.png") no-repeat 0 0;}
.image-nine .the-image {background:url("http://cdn2.hubspot.net/hubfs/481308/2016-Page-Images/assessment/fleek.png") no-repeat 0 0;}
.image-ten .the-image {background:url("http://cdn2.hubspot.net/hubfs/481308/2016-Page-Images/assessment/king.png") no-repeat 0 0;}

/* ========== */
/* = Footer = */
/* ========== */

#attribution-container {
  margin-top: 20px;
  padding: 0 20px;
}

#footer {
  color: #ffffff;
  background: #384146;
  height: 100px;
  margin-top: 50px;
  width: 100%;
  float: left;
}

ul#social-links {
  margin: 0;
  float: left;
}

ul#social-links li {
  display: inline-block;
  float: left;
}

ul#social-links li a {
  float: right;
  border-radius: 5px;
}

ul#social-links li a.twitter {
  color: #28A9E0;
  background: transparent;
}

ul#social-links li a.twitter:hover {
  color: #ffffff;
  background: #28A9E0;
}

ul#social-links li a.facebook {
  color: #3B5998;
  background: transparent;
}

ul#social-links li a.facebook:hover {
  color: #ffffff;
  background: #3B5998;
}

ul#social-links li a.linkedin {
  color: #007AB9;
  background: transparent;
}

ul#social-links li a.linkedin:hover {
  color: #ffffff;
  background: #007AB9;
}

ul#social-links li a.contact {
  color: #ffffff;
  background: transparent;
}

ul#social-links li a.contact:hover {
  color: #ffffff;
  background: #555555;
}

.rssFeed {margin-top:20px;}

.feed-icon:before {
  content: "ï…ƒ";
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: FontAwesome;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: 1.4em;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  margin-left:0;
  color:#FF9900;
}

.feed-icon:hover:before {
  color:#E15A00;
}

.feed-icon img {
  display:none;
}

.home:before,
.twitter:before,
.facebook:before,
.linkedin:before,
.instagram:before,
.pinterest:before,
.youtube:before,
.googleplus:before,
.contact:before {
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: FontAwesome;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: 1.5rem;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  margin:2px;
  width:33px;
  height:33px;
  border-radius:3px;
  background-clip:padding-box;
  overflow:hidden;
}

#toolbar-home .home:before {
  display:none;

}

a.home,
a.twitter,
a.facebook,
a.linkedin,
a.instagram,
a.pinterest,
a.youtube,
a.googleplus,
a.contact {
  border-bottom: 0px solid transparent;
  box-shadow: 0 0 0 transparent inset;
  -webkit-box-shadow: 0 0 0 transparent inset;
}

a.home:hover,
a.twitter:hover,
a.facebook:hover,
a.linkedin:hover,
a.instagram:hover,
a.pinterest:hover,
a.youtube:hover,
a.googleplus:hover
a.contact:hover {
  background-color:transparent;
}

/*only if needed to hide text inside anchor*/
.home .inner,
.twitter .inner,
.facebook .inner,
.linkedin .inner,
.instagram .inner,
.pinterest .inner,
.youtube .inner,
.googleplus .inner,
.contact .inner {font-size:0;}

/*icon set*/
.home:before{content:"\f015";padding:5px 5px 3px;}
.twitter:before{content:"\f099";padding:5px 6px 3px;}
.facebook:before{content:"\f09a";padding:6px 9px 4px 10px;}
.linkedin:before{content:"\f0e1";padding:5px 6px 3px;}
.instagram:before{content:"\f16d";padding:5px 6px 3px;}
.pinterest:before{content: "\f0d2";padding:5px 8px 3px;}
.youtube:before{content:"\f167";padding:5px 5px 3px;}
.googleplus:before{content:"\f0d5";padding:5px 3px 3px;}
.contact:before{content: "\f0e0";padding:5px 6px 3px;font-size:1.3rem;}



/* ================= */
/* = Media Queries = */
/* ================= */

/* = Design For 601px and above = */
@media only screen and (min-width : 601px) {

  .column {
    width: 50%;
  }
  
  .row .col,
  .column .inner {
    padding: 0 20px;
  }
  
  #section-two .ui-content {
    padding: 0 20px;
  }
  
  #section-two .button-wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .tool-tip span.visible {
    width: 375px;    
  }

  .tool-tip span.hidden {
    width: 375px;
  }
  
  ul#social-links {
    float: right;
  }
  
}


/* = Design For 993px and above = */
@media only screen and (min-width : 993px) {
  
  .tool-tip span.visible {
    width: 550px;    
  }

  .tool-tip span.hidden {
    width: 550px;
  }

}